.load-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 300px;
}

#load-text{
    font-size: 20px;
}

#load-icon{
    height: 20px;
    width: 20px;
    border: 1px solid var(--yellow);

    animation: load-animation-2;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

#load-cursor{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: var(--yellow);

    animation: load-animation-1;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes load-animation-1{
    0%{
        transform: translateY(0);
    }
    14.28% {
        transform: translateY(16px);
    }
    28.57%{
        transform: translateY(0) translateX(8px);
    }
    42.86%{
        transform: translateY(16px) translateX(16px);
    }
    57.14%{
        transform: translateY(0) translateX(16px);
    }
    71.42%{
        transform: translateY(16px) translateX(8px);
    }
    85.71%{
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes load-animation-2{
    0%{
        transform: rotate(0);
    }

    21.42%{
        transform: rotate(0);
    }

    25%{
        transform: rotate(90deg);
    }

    46.43%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }

    71.42%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }

    96.43%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(360deg);
    }
}