/************ GENERAL ELEMENTS **************/

.mainScreen__container{
    margin-top: 179px;

    width:100vw;
    height: calc(95vh - 181px);
    overflow-x: hidden;

    display: flex;
}

.mainScreen__ribbon{
    display: flex;
    width: 300%;
    height: 100%;
    transition: 1s;
}

.mainScreen__ribbon--none{
    transform: translateX(0);
}

.mainScreen__ribbon--create{
    transform: translateX(-100vw);
}

.mainScreen__ribbon--load{
    transform: translateX(-200vw);
}

.mainScreen__option{
    width:100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
}

/**************** OPTION: NONE ******************/
#mainScreen__none{
    font-size: 30px;
    color: var(--yellow);
}

/**************** OPTION: CREATE *****************/

#mainScreen__create{
    justify-content: space-evenly;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form--load{
    margin-top: 40px;

    flex-direction: row;
}

.mainScreen__title{
    font-size: 20px;
    letter-spacing: 20px;
}

.input{
    width: 20vw;
    height: 30px;

    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 10px;
    
    border-radius: 15px;
    background-color: var(--white-tr);
    border: none;
    outline: none;

    color: black;
    text-align: center;

    transition: .3s;
}

.input:focus{
    transform: scale(1.1);
}

.input--margin{
    margin-top: 20px;
}

.button{
    width: 200px;

    border: 1px solid var(--yellow);
    border-radius: 20px;
    text-align: center;

    padding: 5px;

    background-image: var(--gradient-bg);

    transition: .3s;

    cursor: pointer;
}

.button--create{
    margin-bottom: 40px;
    margin-top: 60px;
}

.button--load{
    width: 60px;
    margin-left: 40px;
}

.button:hover{
    transform: scale(1.1) translateY(-3px);
    box-shadow: var(--shadow);
}

.button:active{
    transform: scale(.95);
    box-shadow: var(--shadow-inset);
}

/**************** OPTION: GET ******************/

#mainScreen__resultBox{
    display: flex;
    justify-content: center;

    width: 75vw;
    height: calc(70vh - 181px);

    padding: 10px;
    margin-top: 20px;

    background-color: var(--white-tr);

    overflow-y: scroll;

    box-shadow: var(--shadow-inset);
}

::-webkit-scrollbar{
    margin: 0 auto;
    width: 15px;

    background-color: var(--white-tr);
}

::-webkit-scrollbar-thumb{
    width: 5px;
    height: 22px;
    border-radius: 7.5px;
    background-color: var(--blue-1);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-2);
}