.menu__global{
    position: fixed;
    top: 142px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 100%;

    background-color: var(--black);
    border-bottom: solid 2px var(--yellow);

    box-shadow: var(--shadow);
}

.menu__line{
    display: flex;
    justify-content: space-evenly;

    width: 40%;

    color: var(--yellow);
}

.menu__option,
.menu__option:active{
    font-weight: 600;
    text-transform: uppercase;
}

.menu__option--hover{
    cursor: pointer;
}

.menu__option--hover:hover{
    color: var(--white);
    transition: .3s;
}

#menu__cursor{
    height: 2px;

    background-color: var(--yellow);

    transition: 1s;
}

.menu__cursor-none{
    display: hidden;
}

.menu__cursor-create{
    transform: translateX(-7.95vw);
    width: 180px;
}

.menu__cursor-load{
    transform: translateX(8.45vw);
    width: 160px;
}