/**********************************************/
/************** SETTING VARIABLES *************/

html{
  --yellow: rgb(209, 183, 53);
  --blue-1: rgb(14, 54, 50);
  --blue-2: rgb(62, 139, 123);
  --white: rgb(255, 255, 255);
  --white-tr: rgba(255, 255, 255, .4);
  --white-2: rgb(226, 221, 154);
  --black-tr: rgba(0, 0, 0, .4);
  --black-tr-2: rgba(0, 0, 0, .1);
  --black: rgba(0, 0, 0, .15);

  --shadow: 0 10px 25px rgba(0, 0, 0, .3);
  --shadow-inset: inset 3px 3px 10px var(--black-tr);

  --gradient-bg: radial-gradient(
      ellipse at top,
      var(--blue-2),
      var(--blue-1)
    );

  --gradient-side: linear-gradient(
    to left,
    transparent,
    var(--black-tr-2) 65%,
    var(--black-tr)
    )
}

/**********************************************/
/************* GENERAL ELEMENTS ***************/
.container{
  position: fixed;
  width: 100%;
  height: 100%;

  background-image: var(--gradient-bg);

  color: var(--yellow);
}

.sideburn{
  position: fixed;
  top: 0;
  z-index: 100;

  width: 10vw;
  height: 100vh;
  background-image: var(--gradient-side);
}

.sideburn-left{
  left: 0;
}

.sideburn-right{
  right: 0;
  transform: scaleX(-1);
}

.titlebox{
  position: fixed;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--black-tr);

  text-transform: uppercase;
}

header{
  top: 0;

  height: 140px;

  border-bottom: solid 2px var(--yellow);

  font-size: 50px;
  font-family: 'Courier New';
}

footer{
  bottom: 0;

  height: 5vh;
  
  border-top: solid 2px var(--yellow);
}

.footer-textbox{
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

a{
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
  backface-visibility: none;
}

a:hover,
a:active,
a:visited{
  color: var(--white-2);
  transform: translateY(-3px) scale(1.05);
  box-shadow: var(--shadow);
}

/****************** LOAD ICON **************************/
.load-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 500px;
}

#load-text{
  font-size: 20px;
}

#load-icon{
  height: 20px;
  width: 20px;
  border: 1px solid var(--yellow);

  animation: load-animation-2;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}

#load-cursor{
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--yellow);

  animation: load-animation-1;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes load-animation-1{
  0%{
      transform: translateY(0);
  }
  14.28% {
      transform: translateY(16px);
  }
  28.57%{
      transform: translateY(0) translateX(8px);
  }
  42.86%{
      transform: translateY(16px) translateX(16px);
  }
  57.14%{
      transform: translateY(0) translateX(16px);
  }
  71.42%{
      transform: translateY(16px) translateX(8px);
  }
  85.71%{
      transform: translateY(0px) translateX(0px);
  }
}

@keyframes load-animation-2{
  0%{
      transform: rotate(0);
  }

  21.42%{
      transform: rotate(0);
  }

  25%{
      transform: rotate(90deg);
  }

  46.43%{
      transform: rotate(90deg);
  }

  50%{
      transform: rotate(180deg);
  }

  71.42%{
      transform: rotate(180deg);
  }

  75%{
      transform: rotate(270deg);
  }

  96.43%{
      transform: rotate(270deg);
  }

  100%{
      transform: rotate(360deg);
  }
}